.form-inline{
   
    margin: 10px;
 
}
.form-inline input[type=date]{
    width: 20%;
    height: 50px;
}
.form-inline input[type=date]:focus{
    outline: none;
  	border: 1px solid red;
}
.form-select{
    width: 20%;
    height: 50px;
}
.select-date{
    background-color: hsla(0,0%,100%,.1)!important;
    box-shadow: 5px 5px;
}
@media (max-width: 360px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }